:root {
	/* Primitive Colors */

	/* Neutral Colors */
	--neutral-100: #ebebeb;
	--neutral-300: #e1e1e1;
	--neutral-400: #d9d9d9;
	--neutral-500: #8c8c8c;
	--neutral-700: #444;
	--neutral-900: #111;

	/* Brand Colors */
	--brand-50: #fff8f7;
	--brand-700: #111;
	--brand-800: #c34127;

	/* Success Colors */
	--success-100: #dcfce7;
	--success-700: #15803d;

	/* Warning Colors */
	--warning-100: #fef3c7;
	--warning-700: #b45309;

	/* Error Colors */
	--error-100: #fee2e2;
	--error-700: #b91c1c;

	/* Semantic Colors */

	/* Text Colors */
	--txt-dark: var(--neutral-900);
	--txt-default: var(--neutral-700);
	--txt-light: var(--neutral-500);
	--txt-brand: var(--brand-700);
	--txt-white: #ffffff;
	--txt-success: var(--success-700);
	--txt-error: var(--error-700);
	--txt-warning: var(--warning-700);
	--txt-disable: var(--neutral-400);

	/* Background Colors */
	--bg-default: #f5f5f5;
	--bg-brand: var(--brand-700);
	--bg-white: #ffffff;
	--bg-brand-light: var(--brand-50);
	--bg-success: var(--success-100);
	--bg-warning: var(--warning-100);
	--bg-error: var(--error-100);
	--bg-light: var(--neutral-100);

	/* Border Colors */
	--bd-default: var(--neutral-400);
	--bd-light: var(--neutral-300);
	--bd-brand: var(--brand-700);
	--bd-success: var(--success-700);
	--bd-error: var(--error-700);
	--bd-warning: var(--warning-700);
	--bd-white: #ffffff;
}
