:root {
	/* Font sizes */
	--fs-h1: 2.75rem;
	--fs-h2: 2.25rem;
	--fs-h3: 2rem;
	--fs-h4: 1.75rem;
	--fs-h5: 1.5rem;
	--fs-h6: 1.25rem;
	--fs-default: 1rem;
	--fs-large: 1.25rem;
	--fs-small: 0.875rem;
	--fs-caption: 0.75rem;
	--fs-label: 0.75rem;

	/* Font weights */
	--fw-default: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-extrabold: 800;
	--fw-black: 900;

	/* Font families */
	--heading-font: "Inter", system-ui, sans-serif;
	--default-font: "Inter", system-ui, sans-serif;
	--display-font: "Inter", system-ui, sans-serif;

	/* Letter spacing */
	--ls-tight: -0.025em;
	--ls-wide: 0.025em;
}
