:root {
	--fs-h1: clamp(0.875rem, calc(0.875rem + 2.275vw), 3.15rem);
	--fs-h2: clamp(0.875rem, calc(0.875rem + 1.725vw), 2.6rem);
	--fs-h3: clamp(0.875rem, calc(0.875rem + 1.425vw), 2.3rem);
	--fs-h4: clamp(0.875rem, calc(0.875rem + 1.125vw), 2rem);
	--fs-h5: clamp(0.875rem, calc(0.875rem + 0.875vw), 1.75rem);
	--fs-h6: clamp(0.875rem, calc(0.875rem + 0.575vw), 1.45rem);
	--fs-default: clamp(0.875rem, calc(0.875rem + 0.125vw), 1rem);
	--fs-large: clamp(0.875rem, calc(0.875rem + 0.375vw), 1.25rem);
	--fs-small: 0.875rem; /* Already at minimum */
	--fs-caption: 0.75rem;
	--fs-label: 0.75rem;

	/* Font weights */
	--fw-default: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-extrabold: 800;
	--fw-black: 900;

	/* Font families */
	--heading-font: "Inter", system-ui, sans-serif;
	--default-font: "Inter", system-ui, sans-serif;
	--display-font: "Anton", system-ui, sans-serif;

	/* Letter spacing */
	--ls-tight: -0.025em;
	--ls-normal: 0.01em;
	--ls-wide: 0.025em;
	--ls-wider: 0.05em;
}
