# Dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn-debug.log*
/pnpm-debug.log*
/pnpm-lock.yaml

# Build output
/dist
/build
/out

# Logs, Cache and temp
.DS_Store
*.log
.env
.env.local
.cache
/tmp
/temp

# IDEs (như VS Code)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json