.footer {
	border-top: solid 2px var(--bd-default);
	container-type: inline-size;
}

.footer-link-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60vh;
}

.footer-link {
	font-family: var(--display-font);
	font-size: 20cqi;
	text-align: center;
	color: var(--txt-dark);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -0.03em;
	line-height: 1;
	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
	margin-top: auto;
	margin-bottom: 0;
	width: 100%;
}
