.modal {
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background: var(--bg-white);
	border-radius: var(--radius-xl);
	border: none;

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.modal-title {
	text-align: center;
	font-size: var(--fs-h6);
	font-weight: var(--fw-medium);
}

.modal-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: var(--z-base);
}
