.products-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-content: center;
	gap: 1.25rem;
	row-gap: 2rem;
	max-width: 1400px;
	margin: 0 auto;
}

.product-card {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem 1rem 1.5rem 1rem;
	background: var(--bg-light);
	border-radius: 0.75rem;
	text-align: center;
	align-items: center;
	justify-content: space-between;

	&:has(a:hover, button:hover, .product-name:hover) .product-img img {
		transform: scale(1.06);
	}
}

.product-img {
	min-height: 160px;
	overflow: visible;

	img {
		aspect-ratio: 16 / 9;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.25s ease-in-out;
		will-change: transform;
	}
}

.product-info {
	display: flex;
	flex-direction: column;
}

.product-name {
	margin-bottom: 0.5rem;
	text-wrap: balance;
	font-weight: var(--fw-default);
}

.product-category {
	font-size: var(--fs-caption);
	font-weight: var(--fw-semibold);
	text-transform: uppercase;
	color: var(--txt-light);
	letter-spacing: 0.08em;
	margin-bottom: 0.5rem;
}

.product-price {
	font-size: var(--fs-large);
	font-weight: var(--fw-semibold);
	color: var(--txt-dark);
	margin-bottom: 0;
}
