.products-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 1.25rem;
	row-gap: 2rem;
}

.product-card {
	display: flex;
	flex-direction: column;
	max-width: 325px;
	gap: 2rem;
	padding: 2rem 1rem 1.5rem 1rem;
	background: var(--bg-light);
	border-radius: 0.75rem;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.product-img {
	min-height: 160px;

	img {
		aspect-ratio: 16 / 9;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.product-info {
	display: flex;
	flex-direction: column;
}

.product-name {
	margin-bottom: 0.5rem;
	text-wrap: balance;
	font-weight: var(--fw-default);
}

.product-category {
	font-size: var(--fs-caption);
	font-weight: var(--fw-semibold);
	text-transform: uppercase;
	color: var(--txt-light);
	letter-spacing: 0.08em;
	margin-bottom: 0.5rem;
}

.product-price {
	font-size: var(--fs-large);
	font-weight: var(--fw-semibold);
	color: var(--txt-dark);
	margin-bottom: 0;
}
