.cart-section {
	padding-bottom: 0;
	padding-top: calc(var(--header-height) + 3rem);
}

.cart-count {
	font-size: var(--fs-default);
	color: var(--txt-light);
	font-weight: var(--fw-medium);
}

.cart-page-container {
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	gap: 2rem;
	align-items: flex-start;
}

.payment-card {
	background: var(--bg-white);
	border-radius: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-title {
	font-size: var(--fs-h5);
}

.payment-form {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-align: left;
}

.textarea {
	height: auto;
	padding: 0.75rem 1rem;
	resize: vertical;
	border-radius: 0.75rem;
	line-height: 1.5;
}

.select-wrapper {
	overflow-y: visible;
}

.cart-summary-section {
	gap: 1rem;
}

.cart-sum-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-top: 2rem;
	border-top: 1px solid var(--bd-light);
}

.cart-sum-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> p {
		margin: 0;
		font-size: var(--fs-default);
	}
}

.cart-action {
	padding: 0;
	> .btn {
		width: 100%;
	}
}
