.cart-section {
	padding-bottom: 0;
	padding-top: calc(var(--header-height) + 3rem);
}

.cart-count {
	font-size: var(--fs-default);
	color: var(--txt-light);
	font-weight: var(--fw-medium);
}

.cart-page-container {
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	gap: 2rem;
	align-items: flex-start;
}

.payment-card {
	background: var(--bg-white);
	border-radius: 1rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-title {
	font-size: var(--fs-h5);
}

.payment-form {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-align: left;
}

.textarea {
	height: auto;
	padding: 0.75rem 1rem;
	resize: vertical;
	border-radius: 0.75rem;
	line-height: 1.5;
}

.select-wrapper {
	overflow-y: visible;
}

.cart-summary-section {
	gap: 1rem;
}

.cart-items-container {
	display: flex;
	flex-direction: column;
	padding: 0;
	min-height: 240px;
	overflow: auto;
}

.cart-page-item {
	display: flex;
	flex-direction: row;
	padding: 1rem 0;
	gap: 1.5rem;
	border-bottom: 1px dotted var(--bd-light);

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
}

.cart-page-item-img {
	width: 4rem;
	height: 4rem;
	object-fit: contain;
	background: var(--bg-light);
	border-radius: 0.5rem;
}

.cart-page-item-info {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	padding-right: 3rem;
}

.cart-page-item-name {
	font-size: var(--fs-small);
	font-weight: var(--fw-medium);
	color: var(--txt-dark);
	margin: 0;
	line-height: 1.4;
}

.cart-page-item-quantity {
	font-size: var(--fs-small);
	color: var(--txt-light);
}

.cart-page-item-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.cart-page-item-price {
	font-weight: var(--fw-semibold);
	color: var(--txt-dark);
	margin: 0;
	text-align: right;
	flex: 1;
}

.cart-sum-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-top: 2rem;
	border-top: 1px solid var(--bd-light);
}

.cart-sum-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> p {
		margin: 0;
		font-size: var(--fs-default);
	}
}

.cart-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	margin: 0;
	padding: 0;
}

.cart-total-label {
	font-size: var(--fs-default);
	font-weight: var(--fw-bold);
	color: var(--txt-dark);
	margin: 0;
}

.cart-total-price {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	color: var(--txt-dark);
	margin: 0;
}

.cart-action {
	padding: 0;
	> .btn {
		width: 100%;
	}
}
