@import url("../components/product-card.css");

.section {
	padding-top: var(--section-space-md);
}

.section-header {
	padding-bottom: 2rem;
	border-bottom: solid 1px var(--bd-light);
	margin: 0 auto;
}

.section-title {
	max-width: 1440px;
	display: block;
	width: 100%;
	text-align: left;
	margin: 0 auto;
	padding: 0 1.5rem;
	padding-top: var(--section-space-md);
}

.filter-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

.categories-container .btn {
	color: var(--txt-default);
	font-weight: var(--fw-semibold);
}

.pagination-container {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-block-start: 4rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
}
