@import url("../components/product-card.css");

.filter-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.empty-message {
	text-align: center;
	margin-top: 2rem;
}

.categories-container .btn {
	color: var(--txt-default);
	font-weight: var(fw-semibold);
}
