.header-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 1rem 2.5rem;
	max-width: 1920px;
	margin: 0 auto;
}

.nav-menu {
	ul {
		display: flex;
		flex-direction: row;
		justify-items: center;
		list-style-type: none;
		margin: 0;
		padding: 0;
		gap: 1rem;

		.nav-item {
			display: block;
			font-size: var(--fs-small);
			font-weight: var(--fw-medium);
			padding: 0.5rem;
		}
	}
}

.nav-logo {
	font-size: 1.25rem;
	font-weight: var(--fw-bold);
	letter-spacing: -0.02em;
	text-decoration: none;
	align-content: center;
}

.nav-search-container {
	position: relative;
	min-width: 670px;
}

.search-input {
	width: 100%;
	border-radius: 8px;
	padding: 0.75rem;
	color: var(--txt-light);
}

.search-input:focus {
	color: var(--txt-default);
	outline: none;
	border-color: var(--bd-brand);
}

.search-btn {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	color: #999999;
	cursor: pointer;
	padding: 4px;
	transition: color 0.2s ease;
}
