:root {
	/* Typography Scale */

	/* Font sizes */
	--fs-h1: 2.75rem; /* 44px */
	--fs-h2: 2.25rem; /* 36px */
	--fs-h3: 2rem; /* 32px */
	--fs-h4: 1.75rem; /* 28px */
	--fs-h5: 1.5rem; /* 24px */
	--fs-h6: 1.25rem; /* 20px */
	--fs-default: 1rem; /* 16px */
	--fs-large: 1.25rem; /* 20px */
	--fs-small: 0.875rem; /* 14px */
	--fs-caption: 0.75rem; /* 12px */
	--fs-label: 0.75rem; /* 12px */

	/* Font weights */
	--fw-default: 400;
	--fw-medium: 500;
	--fw-semibold: 600;
	--fw-bold: 700;
	--fw-extrabold: 800;
	--fw-black: 900;

	/* Font families */
	--heading-font: "Inter", system-ui, sans-serif;
	--default-font: "Inter", system-ui, sans-serif;
	--display-font: "Inter", system-ui, sans-serif;

	/* Letter spacing */
	--ls-tight: -0.025em;
	--ls-normal: 0;
	--ls-wide: 0.025em;
}
